/* APP */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin-right: 1%;
}

.App-header {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: beige;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.App-title {
  color: #FBC564;
  font-size: 50px;
}

.App-footer {
  bottom: 0;
  position: fixed;
  margin: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.App-footer-text-left {
  color: white;
  text-align: start;
  margin: 1% 10px;
}

.App-footer-text-right {
  color: white;
  text-align: end;
  margin: 1% 10px;
}

.App-homepage {
  text-align: left;
  max-width: 1280px;
  padding: 100px 0 175px 0;
  margin: auto;
}
/* end of APP */

/* article-component */
.article-wrapper {
  display: flex;
  justify-content: space-between;
}

.article {
  margin: 5rem 0;
  height: 10%;
}

.article .line-break {
  height: .15rem;
  width: 15%;
  margin: 0;
  background-color: black;
  border: 1px solid black; 
  border-radius: 40px;
}

.article .article-title {
  font-size: 2.4rem;
  margin: .5rem 0 2.5rem 0;
}

.article .article-subtitle {
  font-weight: 500;
  font-size: 1.2rem;
}

.article .read-more {
  display: flex;
  height: 1.3em;
  cursor: pointer;
}

.article .read-more a {
  width: 40%;
  text-decoration: none;
  color: black;
}

.article .read-more a:hover {
  text-decoration: underline;
}

.article .read-more p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  align-self: center;
  display: inline;
}

.article .read-more img {
  vertical-align: middle;
  width: 15%;
  margin: 0 0 0 .6rem;
}

@media screen and (min-width: 1110px) {
  .article {
    width: 40%;
    max-width: 450px;
    display: inline-block;
    padding: 5%;
    vertical-align: middle;
  }

  .article h2.article-title {
    font-size: 2rem;
  }

  .article p.article-subtitle {
    font-size: 1rem;
  }

  .article .read-more {
    margin: 2rem 0 0;
  }
}

.photo-grid {
  display: none;
  height: 19.5rem;
}

.photo-grid .column-1 {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-grid .column-2 {
  width: 45%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 14px;
}

.photo-grid .grid-image-1 {
  width: 100%;
  align-self: flex-start;
}

.photo-grid .grid-image-2 {
  height: 60%;
  align-self: flex-end;
  padding-top: 10px;
}

.photo-grid .grid-image-3 {
  width: 90%;
  object-fit: contain;
  align-self: flex-start
}

@media screen and (min-width: 1110px) {
  .photo-grid {
    width: 55%;
    height: 20rem;
    display: inline-block;
    margin: 5rem 0 2rem;
  }

  .photo-grid .column-1 {
    display: inline-flex;
    vertical-align: middle;
    align-content: space-between;
    width: 50%;
    height: 100%;
  }

  .photo-grid .column-2 {
    display: inline-flex;
    vertical-align: middle;
    height: 100%;
  }

  .photo-grid .grid-image-1 {
    width: 100%;
  }

  .photo-grid .grid-image-2 {
    height: 60%;
  }

  .photo-grid .grid-image-3 {
    width: 90%;
    
  }
}

@media screen and (min-width: 1200px) {
  .photo-grid .grid-image-1 {
    width: 100%;
  }

  .photo-grid .grid-image-2 {
    height: 50%;
  }

  .photo-grid .grid-image-3 {
    width: 90%;
  }
}
/* end of article-component */

/* search-component */
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

.search-header {
  height: auto;
  background: center / cover url('./img/header-sm.png') no-repeat;
  border-radius: 40px 40px 0 0; 
  color: white;
  max-width: 100%;
  padding: 0;
  margin: auto;
}

.logo {
  padding: 1rem 2rem 0;
  width: 30%;
  max-width: 225px;
}

.subtitle {
  margin: 0;  
  padding: 0 2rem;
  font-size: .6rem;
  width: 40%;
  max-width: 250px;
}

.search {
  height: 90%;
  width: 30%;
  margin: 1rem 2rem 1rem 1.5rem;
}

.search {
  height: .8rem;
  position: relative;
  top: -75%;
}

input[type="text"] {
  position: relative;
  height: 15%;
  width: calc(80% + 1.5rem);
  padding: .5rem;
  outline: none;
  background-color: white;
  border-radius: 24px;
  border: none;
  color: black;
  font-size: 100%;
  /* Search button */
  background-image: url("./img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 90% 50% ;
  background-size: .6rem;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

div.names-list {
  background: white;
  height: auto;
  max-height: 150px;
  width: 56.5%;
  max-width: 200px;
  border-radius: 24px;
  overflow-y: auto;
  margin: -1.5rem 1.5rem;
  padding: 0 1rem;
  z-index: 2;
  position: absolute;
}

.names-list::-webkit-scrollbar {
  width: 22px;
}

.names-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px lightgray;
  border: solid 8px transparent;
  border-radius: 16px;
}

.names-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 8px transparent;
  border-radius: 40px;
  height: 50%;
}

ul.names-list {
  color: black;
  height: 50%;
  list-style: none;
  width: 100%;
  height: 90%;
  margin: 1rem 0 0 0;
  padding: 0;
}

/* Use this to toggle the search dropdown open and closed*/
.hidden {
  display: none;
}

.names-list li {
  font-size: .8rem;
  font-weight: 500;
  height: 2.5rem;
  /* Add some spacing between the beginning of the element and the text */
  padding: 0 0 0 .5rem;
  margin-right: .5rem;
  /* Center text within the li element */
  display: flex;
  align-items: center;
  cursor:pointer;
  width: 100%;
}

.names-list a {
  color: black;
  text-decoration: none;
}

.names-list li:hover {
  background-color: rgba(151, 151, 151, 0.1);
  border-radius: 12px;
}


@media screen and (min-width: 700px) {
  .search-header {
    height: auto;
    background: center / cover url('./img/header-md.png') no-repeat;
    padding: 0;
  }

  .search-header p {
    font-size: 1.5rem;
    padding: 1rem 2.1rem 1rem;
  }

  .search-header form.search input[type="text"]{
    padding: 1.1rem 2rem;
    max-width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .search-header {
    height: auto;
    padding: 0;
    max-width: 1080px;
    background: center / cover url('./img/header-lg.png') no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .search-header { 
    padding: 3rem 2rem 6rem 3rem;
  }
}
/* end of search-component */

/* most searched-component */
.most-searched {
  background-color: oldlace;
  height: auto;
  max-width: 1160px;
  border-radius: 0 0 40px 40px;
  margin: auto;
}

.most-searched h5 {
  margin: 0 0.5rem;
  padding: 1.3rem 0 .3rem 0;
  font-weight: 500;
}

.most-searched .line-break {
  height: .15rem;
  width: 3rem;
  margin: 0 0.5rem;
  background-color: black;
  border: 1px solid black; 
  border-radius: 40px;
}

.most-searched .titles {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin: .25rem 0.5rem 2rem;
  padding: 1rem 0 0;
}

.most-searched .titles h3 {
 display: inline;
 font-size: .8rem;
 flex-basis: 55%;
 margin: 0;
}

.most-searched .titles a {
  display: inline;
  font-size: .7rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  align-self: flex-end;
  justify-self: flex-end;
  flex-basis: 45%;
  text-align: right;
  margin: 0 0.5rem 0 0;
}

.most-searched .titles a p {
  margin: 0;
}

.most-searched .titles p img {
  vertical-align: middle;
}

.most-searched .article-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  height: auto;
  text-align: left;
}

.most-searched .article-images div {
  width: 45%;
  height: 12rem;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
  justify-content: flex-start;
  z-index: 2;
  position: relative;
}

.most-searched .article-images div a {
  width: 100%;
  height: 50%;
  text-decoration: none;
  color: black;
}

.most-searched .article-images div img {
  width: 100%;
  height: 145%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  outline: none;
}

.most-searched .article-images div a:hover {
  text-shadow: 4px 1px 2px lightgrey;
}

.most-searched .article-images p {
  width: 90%;
  align-self: auto;
  margin: .5rem 0 .5rem .5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.most-searched .article-images  img:hover {
  box-shadow: 7px 7px 5px 0px darkgray;
  transform: scale(1.01)
}

@media screen and (min-width: 700px) {
  .most-searched {
    max-width: 1160px;
  }

  .most-searched h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 2rem;
  }

  .most-searched .line-break {
    margin: 0 2rem;
  }

  .most-searched .titles {
    padding: .5rem 2rem 2rem 2rem;
    margin: 0;
  }

  .most-searched .titles h3 {
    font-size: 2.2rem;
  }

  .most-searched .titles a {
    margin: 0;
  }

  .most-searched .article-images div {
    width: 20%;
    height: 18rem;
  }
}
/* end of most searched-component */

/* most searched-page */
.top-10-description {
  display: flex;
  flex-direction: column;
}

.top-10-description .search-result  {
  display: flex;
  margin: 0 0 3rem;
  max-width: 1000px;
}

.search-result a {
  width: 35%;
  height: 35%;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: darkgray;
}

.cat-img {
  width: 300px;
  height: 300px;
  border-radius: 24px;
  display: block;
  object-fit: cover;
  margin: 0 2.5rem 0 0;
  justify-self: center;
  align-self: flex-end;
}

.cat-img:hover {
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  transform: scale(1.01)
}

.search-result .text-wrapper {
  display: inline;
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.search-result .cat-title {
  font-size: 1rem;
  font-weight: 550;
  margin: 0;
  width: 100%;
  padding-top: 5%;
}

.search-result .text-wrapper .cat-desc {
  font-size: .8rem;
  margin-top: .25rem;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .top-10-description {
    padding: 0 5% 0 0;
  }

  .search-result .cat-title {
    font-size: 1.8rem;
  }

  .search-result .cat-desc {
    font-size: 1rem;
  }
}
/* end of most searched-page */

/* 404 error component */
.error-page {
  text-align: center;
  padding: 13.5% 0;
}

.error-code-wrapper {
  text-align: center;
  margin: 15px 0 20px 0; 
}
@media screen and (min-width: 768px) {
  .error-code-wrapper {
    margin: 0 0 38px 0;
  } 
}

.error-code {
  font-family: "Roboto Bold Digits", Helvetica, Arial, sans-serif;
  font-size: 17vw;
  letter-spacing: -1px;
  line-height: 36vw;
  color: #000;
  width: 36vw;
  height: 36vw;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  position: relative; 
}
@media screen and (min-width: 1024px) {
  .error-code {
    font-size: 140px;
    line-height: 300px;
    width: 300px;
    height: 300px;
    letter-spacing: -5px; 
  } 
}

.error-code:before {
  content: "";
  position: absolute;
  right: -17px;
  top: -13px;
  width: 36vw;
  height: 36vw;
  border: 2.5vw solid red;
  border-radius: 50%; 
}
@media screen and (min-width: 1024px) {
  .error-code:before {
    width: 300px;
    height: 300px;
    border: 18px solid red;
    border-radius: 50%; 
  } 
}

.error-heading,
.error-sub-heading {
  color: black;
  text-align: center; 
}

.error-heading {
  font-size: 22px;
  text-transform: uppercase; 
}
@media screen and (min-width: 768px) {
  .error-heading {
    font-size: 4vw; 
  } 
}
@media screen and (min-width: 1024px) {
  .error-heading {
    font-size: 34px; 
  } 
}

.error-sub-heading {
  font-size: 16px;
  margin: 0; 
}
@media screen and (min-width: 768px) {
  .error-sub-heading {
    font-size: 2vw; 
  } 
}
@media screen and (min-width: 1024px) {
  .error-sub-heading {
    font-size: 20px; 
  } 
}
/* end of 404 error component */

/* photo component */
.cat-photos {
  height: 24rem;
}

.cat-photos h3 {
  font-weight: 500;
}

.cat-photos .photo-carousel {
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  align-items: space-between;
  width: 100%;
}

.cat-photos .photo-carousel img {
  width: 44%;
  height: 9rem;
  object-fit: cover;
  margin: 5% 2.5%;
  border-radius: 12px;
}

@media screen and (min-width: 700px) {
  .cat-photos .photo-carousel {
    height: auto;
  }

  .cat-photos .photo-carousel img {
    width: 23%;
    height: 11rem;
    margin: 1.5% 1%;
  }
}
/* end of photo component */

/* summary component */
.cat-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.cat-summary .photo-container {
  width: 16rem;
  height: 23rem;
  position: relative;
  align-self: center;
  margin: 0 0 2rem;
}

.cat-summary .photo-container img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.cat-summary .text {
  margin: 0 0 1.4rem 0;
}

.cat-summary .text h4 {
  font-weight: 550;
  font-size: 2rem;
  margin: 0;
}

.cat-summary .text p {
  font-size: .8rem;
  font-weight: 400;
}

.cat-summary .stats {
  margin: 2rem 0;
}

.cat-summary .stats p {
  font-size: .8rem;
}

.cat-summary div.stats span{
  font-weight: 600;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
}

.rating .stat {
  font-weight: 450;
  font-size: .6rem;
  width: 30%;
}

.cat-summary .stats .rating-container {
  width: 70%;
  display: flex;
}

.cat-summary .stats .rating-container .bk-bg {
  display: inline-block;
  height: .45rem; 
  width: 2rem; 
  background-color: black;
  border: 1px solid black;
  border-radius: 12px;
  margin: 0 .2rem;
}

.cat-summary .stats .rating-container .no-bg {
  display: inline-block;
  height: .45rem; 
  width: 2rem; 
  background-color: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 12px;
  margin: 0 .2rem;
}

@media screen and (min-width: 700px) {
  .cat-summary{
    flex-direction: row;
  }

  .cat-summary .photo-container {
    align-self: flex-start;
    width: 21rem;
    height: 28rem;
  }

  .cat-summary .right {
    width: 60%;
  }

  .cat-summary .right .text {
    width: 80%;
  }

  .rating {
    width: 60%;
  }
}
/* end of summary component */

/* loading component */
.loading-page {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.2);
  z-index: 1000;
}

.loading-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* end of loading component */