/* APP */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-homepage {
  text-align: center;
  max-width: 1280px;
  padding: 100px 0 175px 0;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .App-homepage {
    text-align: left;
  }
}
/* end of APP */